{% extends 'store/base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="background">
            <img src="{% static "img/about.webp"%}" alt="" class="about-background">
        </div>
    </section>
    <section class="section">
        <div class="container-my">
            <div class="about-section">
                <div class="little-container">
                    <div class="page-title-container">
                        <h1 class="page-title">About Us</h1>
                    </div>
                    <div class="section-name-container">
                        <h2 class="section-name">{{ about.title }}</h2>
                    </div>
                    <div class="block">
                        <p class="about-text">{{ about.text }}</p>
                        <div class="btn-container">
                            <a href="catalog.html" class="btn">Catalog</a>
                        </div>
                    </div>
                    <div class="section-name-container">
                        <h2 class="section-name">Contact us</h2>
                    </div>
                    <div class="block">
                        <form action="" method="post" class="form">

                            <div class="input-container">
                                <div class="placeholder">
                                    <p class="text">Full Name
                                    {% if form.errors.name %}
                                        <div style="color:#ff0000">{{ form.errors.name }}</div>
                                    {% endif %}
                                    </p>
<!--                                    <span class="star">*</span>-->
                                </div>
                                <input type="text" class="input" name="name" id="name" required>

                            </div>
                            <div class="input-container">
                                <div class="placeholder">
                                    <p class="text">Phone Number</p>
<!--                                    <span class="star">*</span>-->
                                </div>
                                <input type="text" class="input" name="number" id="number" required>
                            </div>
                            <div class="input-container">
                                <div class="placeholder">
                                    <p class="text">E-mail</p>
<!--                                    <span class="star">*</span>-->
                                </div>
                                <input type="email" class="input" name="email" id="email" required>
                            </div>
                            <div class="input-container">
                                <div class="placeholder">
                                    <p class="text">Ask Your Question</p>
<!--                                    <span class="star">*</span>-->
                                </div>
                                <input type="text" class="input" name="comment" id="comment" required>
                            </div>
                            {% csrf_token %}
                            <div class="input-container">
                                <button class="submit">Send</button>
                            </div>

                        </form>
                    </div>
                    <div class="section-name-container" id="contacts">
                        <h2 class="section-name">{{ contact.title }}</h2>
                    </div>
                    <div class="block">
                        <div class="contacts-row">
                            <h5 class="name">Address:</h5>
                            <p class="info">{{ contact.address }}</p>
                        </div>
                        <div class="contacts-row">
                            <h5 class="name">Phone Number:</h5>
                            <p class="info">{{ contact.number }}</p>
                        </div>
                        <div class="contacts-row">
                            <h5 class="name">E-mail:</h5>
                            <a href="{{ contact.email }}" class="info link">{{ contact.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}