{% extends 'store/base.html' %}
{% block title %}Cart{% endblock %}
{% load static %}
{% load tags %}
{% block content %}
    <section class="section">
        <div class="container-my">
            <div class="little-container">
                <div class="cart">
                    <div class="section-name-container">
                        <h1 class="section-name">Cart</h1>

                    </div>
                    <div class="products-block">
                        <div class="names-row">
                            <p class="column-name">product</p>
                            <p class="column-name">price</p>
                            <p class="column-name">amount</p>
                            <p class="column-name">total</p>
<!--                            <p class="for-aligning"></p>-->
                        </div>
                        <div class="products-container">
                            {% for order in order_list %}
                            <div class="product-row">
                                <div class="product-info">
                                    <div class="img-container">
                                        <img src="{{ order.watch.images.first.image.url }}" alt="{{ order.watch.title }}" class="img">
                                    </div>
                                   <p></p>

                                    <h2 class="name">{{ order.watch.title }}</h2>
                                </div>
                                <p class="price"><span class="value">{{ order.watch.price }}</span> Р</p>
                                <form action="" class="form">
                                    <div class="quantity-block">
                                        <div onclick="window.location='{% url 'store:minus' order.id %}'" class="minus"> </div>
                                        <input name="quantity" type="text" class="quantity" value="{{ order.count }}" >
                                        <div onclick="window.location='{% url 'store:plus' order.id %}'" class="plus">  </div>
                                    </div>
                                </form>
                                <p class="overall-price"><span class="value" id="total">{% widthratio order.watch.price 1 order.count as num %}{{ num }}</span> Р</p>
                                <div onclick="window.location='{% url 'store:cancel' order.id %}'" class="close"></div>
                            </div>
                            {% endfor %}
                            <!--<div class="product-row">
                                <div class="product-info">
                                    <div class="img-container">
                                        <img src="img/products/1.png" alt="" class="img">
                                    </div>
                                    <h2 class="name">Часы Amelia Parker Длинное Название</h2>
                                </div>
                                <p class="price"><span class="value">1 111</span> Р</p>
                                <form action="" class="form">
                                    <div class="quantity-block">
                                        <div class="minus"></div>
                                        <input name="quantity" type="text" class="quantity" value="1" >
                                        <div class="plus"> </div>
                                    </div>
                                </form>
                                <p class="overall-price"><span class="value">1 111</span> Р</p>
                                <div class="close"></div>

                            </div>
                            <div class="product-row">
                                <div class="product-info">
                                    <div class="img-container">
                                        <img src="img/products/1.png" alt="" class="img">
                                    </div>
                                    <h2 class="name">Часы Amelia Parker</h2>
                                </div>
                                <p class="price"><span class="value">1 111</span> Р</p>
                                <form action="" class="form">
                                    <div class="quantity-block">
                                        <div class="minus"></div>
                                        <input name="quantity" type="text" class="quantity" value="1" >
                                        <div class="plus"> </div>
                                    </div>
                                </form>
                                <p class="overall-price"><span class="value">1 111</span> Р</p>
                                <div class="close"></div>

                            </div>-->
                        </div>
                        <div class="overall">
                            <p class="name">Total:</p>
                            <p class="value">3 333 Р</p>
                        </div>
                        <div class="btn-container">
                            <a href="{% url 'store:order' %}"><button class="btn">Purchase</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}