{% extends 'store/base.html' %}
{% block title %} {{ delivery.title }} {% endblock %}
{% block content %}
    <section class="section">
        <div class="container-my">
            <div class="little-container">
                <!--                <div class="page-title-container">-->
                <!--                    <h1 class="page-title"></h1>-->
                <!--                </div>-->
                <div class="section-name-container">
                    <h2 class="section-name">{{ delivery.title }}</h2>
                </div>
                <div class="rights-block">
                    <div class="rights-row">
                        <p class="rights">
                            {{ delivery.text }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}