{% extends 'store/base.html' %}
{% block title %}{{ returns.title }}{% endblock %}
{% block content %}
    <section class="section">
        <div class="container-my">
            <div class="little-container">
                <div class="page-title-container">
                    <h1 class="page-title">{{ returns.title }}</h1>
                </div>
                <div class="spoiler-section">
                    <div class="section-name-container spoiler-heading">
                        <svg class="item-arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="section-content">
                        <p class="content-text">
                            {{ returns.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
