{% extends 'store/base.html' %}
{% load static %}
{% block title %}Amelia Parker{% endblock %}
{% block content %}
    <main class="main">
        <section class="section">
            <div class="main-slider owl-carousel" id="main-slider">
                {% for slide in slide_list %}
                <div class="slide">
                    <img src="{% static  slide %}" alt="" class="slide-img">
                    <div class="container-my">
                        <div class="slide-info">
                            <div class="column">
                                <h1 class="slide-name">Exclusively for you</h1>
                                <div class="btn-container">
                                    <a href="" class="button">
                                        <p class="text">Details</p>
                                        <img src="{% static "img/icons/btn-arrow.svg" %}" alt="" class="btn-arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="slider-nav">
                                <div class="slider-back">
                                    <svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 2L2 17.5L17 33" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="slider-counter">
                                    <span class="current"></span>
                                    <span class="divider">/</span>
                                    <span class="overall"></span>
                                </div>
                                <div class="slider-forward">
                                    <svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 33L17 17.5L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="section">
            <div class="container-my">
                <div class="cards-container">
                    <div class="card-row">
                        <div class="card-item watches">
                            <h3 class="card-name">Watches</h3>
                            <div class="btn-container">
                                <a href="" class="button">
                                    <p class="text">Collection</p>
                                    <img src="{% static "img/icons/btn-arrow.svg" %}" alt="" class="btn-arrow">
                                </a>
                            </div>
                        </div>
                        <div class="card-item decor">
                            <h3 class="card-name">Украшения</h3>
                            <div class="btn-container">
                                <a href="" class="button">
                                    <p class="text">Коллекция</p>
                                    <img src="{% static "img/icons/btn-arrow.svg" %}" alt="" class="btn-arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-item sets">
                            <h3 class="card-name">Подарочные наборы</h3>
                            <div class="btn-container">
                                <a href="" class="button">
                                    <p class="text">Коллекция</p>
                                    <img src="{% static "img/icons/btn-arrow.svg"%}" alt="" class="btn-arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container-my">
                <div class="advantages">
                    <div class="advantage">
                        <img src="{% static "img/icons/five.svg"%}" alt="" class="icon">
                        <h5 class="name">More than five years <br>in the European market</h5>
                    </div>
                    <div class="advantage">
                        <img src="{% static "img/icons/shield.svg" %}" alt="" class="icon">
                        <h5 class="name">Two-year warranty</h5>
                    </div>
                    <div class="advantage">
                        <img src="{% static "img/icons/truck.svg" %}" alt="" class="icon">
                        <h5 class="name">Delivery in Russia <br> in 1 - 3 days</h5>
                    </div>
                    <div class="advantage">
                        <img src="{% static "img/icons/sales_on_fire.svg" %}" alt="" class="icon">
                        <h5 class="name">Discount on the first order</h5>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
