{% extends 'store/base.html' %}
{% block title %}{{ watch.title }}{% endblock %}
{% block content %}
    <section class="section">
        <div class="container-my">
            <div class="product">
                <div class="photos-block">
                    <div class="carousel-container">
                        <span class="product-slider-forward">
                            <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L11.5 12L22 1" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <span class="product-slider-back">
                            <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 12L11.5 0.999999L1 12" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <div class="carousel owl-carousel" id="product-slider">
                            {% for image in watch.images.all %}
                            <div class="item">
                                <img src="{{ image.image.url }}" alt="" class="img">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="breadcrumps">
                        <a href="{% url 'store:index' %}" class="breadcrump">Main</a>
                        <a href="{% url 'store:catalog' %}" class="breadcrump">Watches</a>
                        <p class="breadcrump">{{ watch.title }}</p>

                    </div>
                    <div class="product-info">
                        <h1 class="product-name">{{ watch.title }}</h1>
                        <div class="characteristics">
                            <div class="item">
                                <p class="name">Article:</p>
                                <p class="value">{{ watch.article }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Style:</p>
                                <p class="value">{{ watch.style }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Size in mm:</p>
                                <p class="value">{{ watch.watch_size }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Material:</p>
                                <p class="value">{{ watch.watch_material }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Color:</p>
                                <p class="value">{{ watch.watch_color }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Coating:</p>
                                <p class="value">{{ watch.coating }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Bracelet size in mm:</p>
                                <p class="value">{{ watch.bracelet_size }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Bracelet material:</p>
                                <p class="value">{{ watch.bracelet_material }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Bracelet color:</p>
                                <p class="value">{{ watch.bracelet_color }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Glass:</p>
                                <p class="value">{{ watch.glass_material }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Water resistance:</p>
                                <p class="value">{{ watch.water_resistance }} АТМ</p>
                            </div>
                        </div>
                        <div class="price-container">
                            <p class="price">{{ watch.price }} <span class="currency">Р</span></p>
                        </div>
                        <form method="post" action="" class="form">
                        {% csrf_token %}
                            <div class="input-container">Amount
                                <div class="custom-select" >
                                    <select name="amount">
                                        <option value="0">Amount</option>
                                        <option value="1" selected>1</option>
                                        {% for i in loop_times %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="btn" data-toggle="modal" data-target="#addedModal">To Cart
                                    <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.0786 25H9.42224C9.03531 25 8.68309 24.7768 8.51793 24.4269L1.67352 9.92686C1.3604 9.26352 1.84431 8.5 2.57784 8.5H26.4667C27.189 8.5 27.673 9.24221 27.3818 9.90317L20.9937 24.4032C20.8339 24.7659 20.475 25 20.0786 25Z" stroke="white" stroke-width="2"/>
                                        <path d="M19 8.5V3C19 1.89543 18.1046 1 17 1H12C10.8954 1 10 1.89543 10 3V8.5" stroke="white" stroke-width="2"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                        <div class="bottom">

                            <div class="item">
                                <p class="name">Article:</p>
                                <p class="value">{{ watch.article }}</p>
                            </div>
                            <div class="item">
                                <p class="name">Category:</p>
                                <p class="value">Watches</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

