{% extends 'store/base.html' %}
{% block title %}{{ watch.title }}{% endblock %}
{% block content %}
    <section class="section">
        <div class="container-my">
            <div class="product">
                <div class="photos-block">
                    <div class="carousel-container">
                        <span class="product-slider-forward">
                            <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L11.5 12L22 1" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <span class="product-slider-back">
                            <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 12L11.5 0.999999L1 12" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <div class="carousel owl-carousel" id="product-slider">
                            <div class="item">
                                <img src="img/products/product/1.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/2.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/3.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/4.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/1.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/2.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/3.webp" alt="" class="img">
                            </div>
                            <div class="item">
                                <img src="img/products/product/4.webp" alt="" class="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="breadcrumps">
                        <a href="index.html" class="breadcrump">Главная</a>
                        <a href="catalog.html" class="breadcrump">Часы</a>
                        <p class="breadcrump">Часы Ameila Parker</p>

                    </div>
                    <div class="product-info">
                        <h1 class="product-name">Часы Amelia Parker</h1>
                        <div class="characteristics">
                            <div class="item">
                                <p class="name">Артикул:</p>
                                <p class="value">AA9-B018S</p>
                            </div>
                            <div class="item">
                                <p class="name">Стиль:</p>
                                <p class="value">Charm Silver Link</p>
                            </div>
                            <div class="item">
                                <p class="name">Размер в мм:</p>
                                <p class="value">36</p>
                            </div>
                            <div class="item">
                                <p class="name">Материал:</p>
                                <p class="value">Металл</p>
                            </div>
                            <div class="item">
                                <p class="name">Цвет:</p>
                                <p class="value">Серебрянный</p>
                            </div>
                            <div class="item">
                                <p class="name">Покрытие корпуса:</p>
                                <p class="value">Ионное покрытие (IP)</p>
                            </div>
                            <div class="item">
                                <p class="name">Размер браслета в мм:</p>
                                <p class="value">18х18</p>
                            </div>
                            <div class="item">
                                <p class="name">Материал браслета:</p>
                                <p class="value">Нержавеющая сталь</p>
                            </div>
                            <div class="item">
                                <p class="name">Цвет браслета:</p>
                                <p class="value">Серебрянный</p>
                            </div>
                            <div class="item">
                                <p class="name">Стекло:</p>
                                <p class="value">Закаленное минеральное стекло</p>
                            </div>
                            <div class="item">
                                <p class="name">Водостойкость:</p>
                                <p class="value">3 АТМ</p>
                            </div>
                        </div>
                        <div class="price-container">
                            <p class="price">1 111 <span class="currency">Р</span></p>
                        </div>
                        <form action="" class="form">
                            <div class="input-container">Количество
                                <div class="custom-select" >
                                    <select>
                                        <option value="0">Количество</option>
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="btn" data-toggle="modal" data-target="#addedModal">В корзину
                                    <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.0786 25H9.42224C9.03531 25 8.68309 24.7768 8.51793 24.4269L1.67352 9.92686C1.3604 9.26352 1.84431 8.5 2.57784 8.5H26.4667C27.189 8.5 27.673 9.24221 27.3818 9.90317L20.9937 24.4032C20.8339 24.7659 20.475 25 20.0786 25Z" stroke="white" stroke-width="2"/>
                                        <path d="M19 8.5V3C19 1.89543 18.1046 1 17 1H12C10.8954 1 10 1.89543 10 3V8.5" stroke="white" stroke-width="2"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                        <div class="bottom">

                            <div class="item">
                                <p class="name">Артикул:</p>
                                <p class="value">AA9-B018S</p>
                            </div>
                            <div class="item">
                                <p class="name">Категория:</p>
                                <p class="value">Часы</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

